# HOW TO USE:
# 1 Add cross-stage environment variables to the Globals section
# 2 Add environment variables for the various stages here
# 3 Rename this file to env.yml and uncomment it's usage in serverless.yml.
# 4 Make sure to not commit this file.

Globals: &globals
  foo: BAR

test:
  <<: *globals
  MY_API_KEY: TEST_123

dev:
  <<: *globals
  MY_API_KEY: DEV_123

prod:
  <<: *globals
  MY_API_KEY: TOP_123